TEST_USERNAME=your_email@serverid.mailosaur.net
TEST_PASSWORD=your_password_here
EXPECTED_PORTFOLIO_VALUE=0
MAILOSAUR_API_KEY=your_mailosaur_api_key
MAILOSAUR_SERVER_ID=your_mailosaur_server_id
MAILOSAUR_CLEANUP_MODE=combined
